#header {
  background-color: #0a0b0c !important;
  height: 52px;
  line-height: 52px;
  width: 100%;
}

#header .logo {
  width: 32px;
  height: 32px;
}

#content {
  padding: 20px;
  height: calc(100vh - 52px);
  max-width: 1000px;
}

#content .ant-alert {
  margin-bottom: 20px;
}

#content > .content-container {
  display: flex;
  flex-direction: row;
}

#content > .content-container > .left {
  margin-right: 20px;
}
#content > .content-container > .right {
  margin-left: 20px;
}

#content > .content-container > .left .ant-image {
  width: 100%;
  min-width: 400px;
}
#content > .content-container > .left .ant-btn {
  margin-top: 10px;
  border: 1px solid #0a0b0c;
  background-color: #0a0b0c;
  color: white;
}

#content > .content-container > .left .ant-btn:disabled {
  opacity: 0.7;
}

.celebrity-json > pre {
  background-color: #ffffff;
}

.celebrity-json > pre .__json-value__ {
  color: brown;
}

@media only screen and (max-width: 700px) {
  #content > .content-container .left {
    margin-bottom: 40px;
    margin-right: 0px;
  }

  #content > .content-container > .left .ant-image {
    width: 100%;
    min-width: 300px;
  }

  #content > .content-container .right {
    margin-left: 0px;
  }

  #content > .content-container {
    flex-direction: column;
  }
}
